<footer>
	<div class="container">
		<div class="row">
		    <div class="col-lg-12 text-center footer__text">
					<ul class="list-inline">
							<li>
								<a href="/terminos-condiciones">Términos y condiciones de uso</a>
							</li>
							<li>
								<a href="/privacidad">Política de privacidad</a>
							</li>
							<li>
								<a href="/cookies">Política de Cookies</a>
							</li>
						</ul>
				<p>Copyright &copy; Snore Circle Europe</p>					
		    </div>
		</div>
	</div>
</footer>