<div class="header-headline hidden-xs">
    <a href="/"><h1 class="brand hidden-xs">Snore Circle</h1></a>
    <h3 class="address-bar hidden-xs">Dispositivo anti-ronquidos revolucionario e inteligente</h3>
</div>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="/">Snore Circle</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-link" href="/">Inicio</a>
                    </li>
                    <li>
                        <a class="page-link" href="/compra-ahora">Compra Ahora</a>
                    </li>
                    <li class="dropdown">
                      <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Saber Más
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a href="/mas-informacion">Más Información</a></li>
                        <li><a href="/preguntas-frecuentes">Preguntas Frecuentes</a></li>
                        <li><a href="/instrucciones">Instrucciones</a></li>
                      </ul>
                    </li>

                    <li>
                        <a class="page-link" href="/contacto">Contacto</a>
                    </li>

                    <li>
                        <a href="#" class="snipcart-checkout"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Carrito</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>