<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Snipcart Script and Style -->
<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="ODVkYWI3NDgtNzI4ZC00MDM4LWJjZjctMGJjNGVhMDQ3MTU5NjM2MzcwNDcxNjQ5NzE3MzEx"></script>
<script src="/js/es.js"></script>


<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
<script>
$('.carousel').carousel({
    interval: 3500 //changes the speed
})
</script>